[color]
  ui = auto
[alias]
  lg = log --no-merges --first-parent --decorate --abbrev-commit --pretty=tformat:'%C(bold red)%h%C(reset)%C(bold yellow)%d%C(reset) | %C(bold cyan)%an%C(reset) | %C(bold green)%cr%C(reset)%n%C(bold white)%s%C(reset)%n%b'
	hist = log --oneline --graph --decorate --all --abbrev-commit --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)%an%C(reset)'
[commit]
  template = "~/.gitmessage"
[status]
  short = true
  branch = true
  showStash = true
[core]
  ; editor = notepad++ -multiInst -notabbar -nosession -noPlugin
  editor = "nvim -f --clean -c 'set mouse=a nu rnu splitbelow splitright smartindent expandtab shiftwidth=4 softtabstop=4 timeoutlen=500 nowrap clipboard=unnamedplus completeopt=fuzzy,menu,menuone,noinsert,noselect,popup ignorecase scrolloff=8 sidescrolloff=8 guicursor=n-v-c:block,i-ci-ve:ver25,r-cr:hor20,o:hor50,a:blinkwait700-blinkoff400-blinkon250-Cursor/lCursor,sm:block-blinkwait175-blinkoff150-blinkon175 wildmode=longest:full,full wildoptions=fuzzy,pum,tagfile winborder=rounded' -c 'imap jk <Esc>'"
  pager = delta
  sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
  longpaths = true
  hooksPath = "~/.config/git/hooks"
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  true-color = always
  line-numbers = true
  hyperlinks = true
[url "https://github.com/mhafiz87/"]
  insteadOf = "mhafiz87:"
[push]
	autoSetupRemote = true
